* {
  margin: 0;
  padding: 0;
}


.auth-layout {
  height: 100vh;
  /* background-image: url("./assets/login-background/3383078.jpg"); */
  background-image: url(" https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg");
  background-size: cover;
}

.auth-layout h4{
  color:white;
  display: inline;
  margin: 2rem;
  font-weight: 400;
}

/* LOGIN PAGE */

.login-page{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page section {
  width: 30rem;
  border-radius: 20px;
  border: 2px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;

}

.login-page section h2 {
  color: aliceblue;
  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;


}

.login-page Form {
  text-align: center;
}

.login-page p {
  color: aliceblue;
  margin: 5px;
  text-align: center;
}

.login-page a {
  color: aliceblue;
}

.login-page input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: yellow;
}

.login-page input:focus {
  border-color: burlywood;
  border-width: 0 0 2px;
}

/*SIGNUP PAGE */
.signup-page{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-page section{
  width: 30rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.signup-page section h2 {
  color: aliceblue;
  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;

}

.signup-page Form {
  text-align: center;
}

.signup-page p {
  color: aliceblue;
  margin: 5px;
  text-align: center;
}

.signup-page a {
  color: aliceblue;
}

/*NAVBAR */

.navbar-custom{
  background-color: #008DDA;
  height: 3rem;
}

.navbar-custom h4{
  color: aliceblue;
}

/*HOMEPAGE*/

.home-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.add-button{
  font-size: large;
  font-weight: 400;
  border-radius: 10px;
  border: 0px solid #888888;
  box-shadow: 2px 5px 5px #888888;
  background-color: #ffffff;
  padding: 5px;
}

.add-button:hover{
  background-color: #008DDA;
  color: #ffffff;
}

.summary-card{
  /* background-color: red; */
  border: 1px solid #888888;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.summary-card h6{
  font-weight: 300;
}

.summary-card span{
  font-weight: 500;
}

.amount-green{
  color: green;
}

.amount-red{
color: red;
}


/*FOOTER*/

footer {
  text-align: center;
  color:wheat
}
footer a{
  color:white;
}