* {
  margin: 0;
  padding: 0;
}

.container-main {
  /* background-color: green; */
  display: flex;
  justify-content: center;
}


.auth-layout {
  height: 100vh;
  /* background-image: url("./assets/login.jpeg"); */
  /* background-image: url("https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg");  */
  background-size: cover;
  /*background-image: linear-gradient(to bottom right, #5755fe, #fff7fc); */
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(11,109,226,1) 100%); */
  background:linear-gradient(0deg,  rgba(238,174,202,0.5), rgba(11, 109, 226, 0.4)), url("./assets/login.jpeg");
  /* opacity: .3; */
}

.auth-layout h4 {
  color: #ffff;
  display: inline;
  margin: 2rem;
  font-weight: 400;
}

/* LOGIN PAGE */

.login-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page section {
  width: 30rem;
  border-radius: 20px;
  border: 4px solid #ffff;
  padding: 10px;
  box-shadow: 5px 10px 18px #ffff;
}

.login-page section h2 {
  color: #ffff;
  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;


}

.login-page Form {
  text-align: center;
}

.login-page p {
  margin: 5px;
  text-align: center;
  color: #ffff;

}

.login-page a {
  color: yellow;
}

.login-page input {
  outline: 0;
  border-width: 0 0 3px;
  border-color: yellow;
}

.login-page input:focus {
  font-weight: 500;
  border-color: green;
  border-width: 0 0 3px;
}

/*SIGNUP PAGE */
.signup-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-page section {
  width: 30rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #ffff;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.signup-page section h2 {
  color: #ffff;

  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;

}

.signup-page Form {
  text-align: center;
}

.signup-page p {
  margin: 5px;
  color: #ffff;

  text-align: center;
}

.signup-page a {
  color: yellow;
}

/*NAVBAR */

.navbar-custom {
  background-color: #008DDA;
  height: 3rem;
}

.navbar-custom h4 {
  color: aliceblue;
  cursor: pointer
}

.navbar-text button {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  color: #ffff;
}



/*HOMEPAGE*/
.home-page {
  width: 90%;
}

.home-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

}

.add-button {
  border-radius: 10%;
  height: 50px;
  border: 2px solid #008DDA;
  /* box-shadow: 2px 2px 20px #888888; */
  background-color: #008DDA;
  width: 40px;
  height: 40px;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.add-button:hover {
  background-color: #ffff;
  color: #008DDA;
}

.single-summary-card {
  border-radius: 10px;
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid lightgray;
}

.single-summary-card h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

.single-summary-card span {
  font-size: 1.2rem;
}


.summary-card {
  /* background-color: red; */
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: 2px 2px 20px #888888; */
  margin-bottom: 1rem;
}

.summary-card h6 {
  font-weight: 300;
}

.summary-card span {
  font-weight: 500;
}

.amount-green {
  color: green;
}

.amount-red {
  color: red;
}

/* ALL PORTFOLIO PAGE */
.all-portfolio {
  margin: 1rem;
  width: 90%;
}

.all-portfolio h3 {
  font-weight: 400;
  text-align: center;
  margin: 0.5rem;
  text-transform: capitalize;
}

.single-portfolio {
  margin: 0.5rem;
}

/* sidebar */
.sidebar {
  /* height:200px; */
  width: 300px !important;

}

.sidebar-main {}

.img-block {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.sidebar-main h5 {
  text-align: center;
}

.links {
  padding: 0.5rem;
  width: 100%;
  text-align: center;

}

.links a {
  text-decoration: none;
  text-transform: uppercase;
}

/*PROFILE*/
.tabs {
  /* background-color: red; */
  margin-top: 5px;
  /* color:#ffff; */
}

.tabs li {
  font-size: 0.9rem;
  font-weight: bold;
  /* background-color: #008DDA; */
  color: #008DDA;
  margin: 2px;
}

.nav-tabs .nav-link.active {
  background-color: #008DDA;
  color: #ffff
}


.active {
  /* background-color: red; */
  /* border: 1px solid lightgray; */


  border-radius: 5px;
}

/*FOOTER*/

footer {
  text-align: center;
  color: #ffff;
}

footer a {

  color: #ffff;
}